/* Header css format */
nav,a, button{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#cc5273;
    text-decoration: none;
}


header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0%;

}
.logo{
    cursor: pointer;
    margin-right: auto;
    opacity: 100%;
}

.navigation{
    list-style: none;
}

.navigation{
    display: inline-block;
    padding: 0px 25px;
}

.navigation a{
    transition: all 0.3s ease 0s
}

.navigation a:hover{
    color:#D98F9D;
}

button{
    padding: 10px 25px;
    background-color: rgba(217,143,157,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(217 ,143, 157, 0.8);
}

ul{
    list-style: none;
}

.nav-link{
    display: flex;
    align-items: center;
}
.nav-link li{
    margin: 0 20px;
}

.menu{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/*mobile device*/
@media only screen and (max-width:850px){
    
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
    }
    .menu{
        display: block;
    }
    .logo{
        top: 30px;
        left: 30px;
    }
    nav .nav-link{
        top: 0;
        left: 0;
    }
    .nav-link{
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        background-color: #0D0D0D;
        margin-top: -9000px;
        transition: all 0.5s ease;
    }
    .nav-link li{
        margin: 20px auto;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .heading1{
    right:0;
    bottom:0;
    }
    .random{
        margin-top: 60%;
    }
}




body {
    font-family: "Inter", sans-serif;
}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: #F2EBDF;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: rgba(217,143,157,1);
    width: 100%;
    border: none;
    border-radius: 4px;
}

.user-input {
    display: flex;
    flex-direction: column;
}

.user-input input {
    border: 2px solid #f0f0f0;
    display: block;
	border-radius: 4px;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.user-input input:focus {
    outline: 0;
}

.user-input.success input {
    border-color: #5ee6ab;
}

.user-input.error input {
    border-color: rgba(217,143,157,1);
}

.user-input .error {
    color: rgba(217,143,157,1);
    font-size: 9px;
    height: 13px;
}

.a{
    color: rgba(217,143,157,1); ;
}

.bottom{
    padding-top: 3%;
    padding-bottom: 3%; 
    background-color: #F2EBDF; 
    color: black; 
    font-weight: lighter;
    text-align: center;
}